@use 'variables';
@use 'mixins';

.gallery {

    &__image-container {
        background-image: url('../images/image-product-1.jpg');
        height: 300px;
        width: 100%;
        background-position-y: -35px;
        background-size: cover;
    }
    &__previus{
        @include mixins.image-btn(170px,140px);
        
    }
    &__next{
        @include mixins.image-btn(170px,320px);
     }
     &__thumnails{
        display: none;
        @media (min-width: 1115px) {
            display: block;
        }
     }
}
