@use 'initial';
@use 'variables';
@use 'header';
@use 'navbar';
@use 'modal-navbar';
@use 'gallery';
@use 'details';
@use 'input';
@use 'modal-cart';
@use 'gallery-modal';

/* este es el parchal para crear un scss, modularizado */

.main-container{
    width: 375px;
    // border: 1px solid rgb(5, 244, 85);
    margin: auto;
    position: relative;
    @media(min-width: 1115px){
            width: 1115px; 
    }
}
.content{
    @media (min-width: 1115px) {
        display: flex;
        padding: 90px 50px;
        gap: 124px;
    }
}
.show{
    display: block;
}

.empty{
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
}
